table{
  width: 300px;
  margin: auto;
}
thead{
  text-align: center;
  background-color:slateblue;
  color: white;
}
th,td{
  padding: 10px;
}
tbody th{
  padding: 2rem;
}
tr{
  text-align: center;
}
tbody tr:nth-child(odd){
  background-color:darkkhaki;
}

tbody tr:nth-child(even){
  background-color: burlywood;
}

tbody tr:nth-child(3){
  background-color: cadetblue;
  color: white;
}
tbody tr:nth-child(4) {
  background-color:darkseagreen;
  color: white;
}