body{
  margin: 0;
  pad: 0;
}
header,nav,main,footer{
  width: 900px;
  margin:auto;
  padding: 2em;
}
header{
   /* background-color: blue;  */
   text-align: center;

}
main{
  /* background-color: yellow; */
}
footer{
  /* background-color:rebeccapurple; */
}
h1{
  text-align: center;
}
p{
  text-align: justify;
}
nav{
 /* background-color: red; */
 padding: 2em;
 width: 900px;
}
.navegacion{
  display: flex;
}
.navegacion>li{
  margin-left: 2em;
  /* background-color: yellow; */
  padding: 1em;
}
a:link{
  color: blue;
  margin-bottom: 1em;
}
a:visited {
  color: green;
}
a:hover{
  color: violet;
}