input:invalid{
  background-color: salmon;
}
input:valid {
  background: palegreen;
}
input{
  border: 5px solid black;
  width: 250px;
  margin-bottom: 10PX;
}
label{
  display: inline-block;
  width: 150px;
    margin-bottom: 10px;
    vertical-align: top;
}

form{
  width: 500px;
  margin: auto;
  margin-top: 50px;
  border: 2px solid black;
  /* text-align: center; */
  padding: 2.5rem;
  border-radius: 20px;
}
h1{
  text-align: center; 
}
button{
  width: 250px;
  margin:auto;
}
