.App {
  text-align: center;
}



input {
  color: orangered;
  width: 100px;
  line-height: 100px;
  margin: 5px;
  text-align:
    center;
  border-radius: 5px;
  border: 1px dotted darkred;
  font-size: 4rem;
}

.caja {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.caja button {
  font-size:2rem;
  padding: 5px 15px;
  color: darkred
}

.titulo{
  color: red;
}
.direccion{
  color:green ;
}