.grupos-container {
  padding: 40px;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.grupos-title {
  text-align: center;
  font-size: 32px;
  color: #333;
  margin-bottom: 40px;
}

.grupo-card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  max-width: 800px;
  margin:30px  auto;
  display: flex;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.grupo-foto {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #555;
}

.grupo-descripcion {
  flex: 1;
  min-width: 200px;
  color: #444;
}

.grupo-boton {
  align-self: flex-start;
}

.grupo-boton button {
  padding: 10px 20px;
  background-color: #f8b113;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.grupo-boton button:hover {
  background-color: #0056b3;
}

.enviar-boton-container {
  text-align: right;
  margin-top: 40px;
}
.enviar-boton {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviar-boton:hover {
  background-color: #218838;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-contenido {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.popup-contenido h3 {
  margin-top: 0;
}

.popup-botones {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}