main{
  width: 1200px;
  margin: auto;
  text-align: center;
}
h2{
  background-color: #dbc9a6;
  padding: 20px;
  font-weight: lighter;
}
.boxRelative{
  position: relative;
  display: flex;
  height: 600px;
  width: 1200px;
}
.box{
  position: absolute;
  /* display: flex;
  flex-wrap: wrap; */
  width: 50%;
  height: 300px;
}
.box:hover {
  z-index: 10;
}
.Yellow{
  background-color: #ffffb3;
}
.Blue {
  top: 50%;
  background-color: #c6ffff;
}
.Green{
  background-color: #91ff91;
  left: 50%;
  top: 50%;
}
.Pink{
  background-color: #ffe5ff;
  left: 50%;
}
.Brown{
  background-color:#FFB4B4;
  top: 25%;
  left: 25%;
  }

.container{
  display: flex;
  position: relative;
  width: 800px;
  gap: 20;
}

.boxg a{
  text-decoration: none;
  color: black;
 
}
.boxg li{
  list-style-type: none;
  width: 200px; 
  background-color:#91ff91 ;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2px;
  transition: 
  width 2s, background-color #FFB4B4 1s;
}

.boxg li:hover{
  width: 300px;
}

.boxp{
  margin: 10px;
  left: 50%;
}