* {
	font-family: arial;
}
#contenedor {
	width: 75%;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid grey;
	background-color: lightgrey;
	text-align: center;
}

#galeria img {
	width: 260px; height: 200px;
}

#fotos img {
	width: 120px; height: 90px;
}
#galeria img.borrar {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
#galeria div.imagenesGaleria{
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

#anterior,#siguiente{
	width: 50px;
}

#lightbox{
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
#fotoLightbox{
	width: 40%;
}

#siguiente{
	transform: rotate(180deg)
}